db
greybox_tmp
Personaware-EN/
/dist/
.DS_Store
incremental_db
output_files
artifacts
roms
*.rom
*.rbf
!releases/*.rbf
upstream-ao486/
upstream-main/
.DS_Store
simulation
hc_output
scaler
hps_isw_handoff
vip
system
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*_netlist
*.cdf
__pycache__/
*.pyc
