artifacts/
ip/create_pc110_pll.qpf
ip/create_pc110_pll.qsf
ip/ip/
ip/pc110_pll/
ip/pc110_pll.qsys
ip/create_pc110_hps.qpf
ip/create_pc110_hps.qsf
quartus/db/
quartus/dni/
quartus/incremental_db/
quartus/output_files/
quartus/output_files_clocks/
quartus/output_files_core_smoke/
quartus/output_files_port/
vendor/terasic-ghrd/
quartus/qdb/
quartus/*.qws
quartus/*.qdf
quartus/*.qws
